* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
  font-family: "Archivo Black", sans-serif;
}

/* Header */
.global_header {
    background: rgb(255, 235, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    position: relative;
    height: 60px;
}
.travel_inquiries{
    /* border: 2px solid green; */
    margin-left: 10px;
    display: flex;
    gap: 15px;
    transform: scaleY(1.2);
}
.header_logo {
    /* border: 2px solid blue; */
    position: absolute;
    left: 50%;
    transform: translateX(-65%);
    z-index: 1;
    text-align: center;
    font-style: italic;
    font-size: 17px;
}
.client_interface {
    /* border: 2px solid red; */
    margin-right: 15px;
    display: flex;
    gap: 15px;
    transform: scaleY(1.2);
}


/* Flight booking */
.flight_booking {
    padding: 20px;
    /* border: 1px solid black; */
    height: 350px;
    background: url('./images/3866.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.flight_search {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.nav_tab {
    /* border: black 2px solid; */
    border-radius: 15px;
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transform: scaleY(1.09);
    align-items: center;
    width: fit-content;
}
.divider {
    border: rgb(202, 202, 202) 2px solid;
    height: 45px;
    width: 0.05px;
}
.learn_more_buttons {
    width: 145px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.learn_more_buttons:hover {
    cursor: pointer;
    background-color: rgb(75, 75, 255);
    transform: scale(1.025);
    color: white;
}
.flight_button {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}
.plane_icon {
    transform: rotate(90deg);
    font-size: 18px;
}
.package_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}
.tree_icon {
    font-size: 18px;
}
.hotel_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}
.bed_icon {
    font-size: 18px;
}
.car_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}
.car_icon {
    font-size: 18px;
}
.cruise_button {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5px;
}
.cruise_icon {
    font-size: 18px;
}

.flight_schedules {
    background: white;
    border: black 2px solid;
    width: 800px;
    height: 200px;
}